body{
    margin: 0;
}

.container{
    display: flex;
    background-color: rgb(245, 255, 255);
    max-height: 100%;
    max-width: 100%;
}

.cards-container{
    display: flex;
    height: 85%;
    width: 90%;
    margin: auto;
}

.card{
    position: relative;
    height: 100%;
    width: 5%;
    margin: 5px;
    transition: 1.5s;
}

h2{
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: whitesmoke;
    text-shadow: 2px 2px 4px black;
    position: absolute;
    bottom: 0px;
    left: 25px;
    visibility: hidden;
}

.active{
    width: 80%;
}

.card img{
    object-fit: cover;
    max-width: 100%;
    min-height: 100%;
    border-radius: 2%;
}

.card img:hover{
    opacity: 0.75;
    cursor: pointer;
    transition: 0.5s;
}

.card img:not(:hover){
    opacity: 1;
    transition: 0.5s;
}