body{
    margin: 0;
}

.container{
    display: flex;
    background-color: rgb(245, 255, 255);
    height: 100vh;
    width: 100vw;
}

.cards-container{
    display: flex;
    height: 85%;
    width: 90%;
    margin: auto;
}

.card{
    height: 100%;
    width: 5%;
    margin: 5px;
    transition: 1s;
}

.active{
    width: 80%;
}


.card img{
    object-fit: cover;
    max-width: 100%;
    min-height: 100%;
    border-radius: 2%;
}

.card img:hover{
    opacity: 0.75;
    cursor: pointer;
    transition: 0.5s;
}

.card img:not(:hover){
    opacity: 1;
    transition: 0.5s;
}